[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gooey = "*"
fastapi = "*"

[dev-packages]
uvicorn = {extras = ["standart"], version = "*"}
pylint = "*"
parameterized = "*"
nose2 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
